#include "Script_Clock.rh"

LANGUAGE 0x0000, 0x0000

1 VERSIONINFO
  FILEVERSION    1, 2, 0, 0
  PRODUCTVERSION 1, 0, 95642, 0
  FILEOS         0x00000004
  FILETYPE       0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "000004b0"
    BEGIN
      VALUE "CompanyName",     "Nico Bendlin"
      VALUE "FileDescription", "Risen Clock"
      VALUE "FileVersion",     "1.2"
      VALUE "LegalCopyright",  "© 2011 Nico Bendlin <nicode@gmx.net>"
      VALUE "InternalName",    "Script_Clock"
      VALUE "ProductName",     "Risen"
      VALUE "ProductVersion",  "1.0.95642 (Rev. 0)"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0000 0x04B0
  END
END

/* en-US (default) */

LANGUAGE 0x09, 0x01
#pragma code_page( 1252 )

STRINGTABLE
BEGIN
  IDS_SCRIPT_CLOCK_CONHELP "Displays the current time."
  IDS_SCRIPT_CLOCK_SYSTIME "System time: %1!S!\n"
  IDS_SCRIPT_CLOCK_GAMEMSG "Island time: %4!02i!:%5!02i! (day %7!i!)"
  IDS_SCRIPT_CLOCK_MESSAGE "%2!s!"
  IDS_SCRIPT_CLOCK_LOGTYPE "0"
  IDS_SCRIPT_CLOCK_LOGSIZE "false"
  IDS_SCRIPT_CLOCK_LOGXEFF ""
  IDS_SCRIPT_CLOCK_CAPTION "tick-tock"
  IDS_SCRIPT_CLOCK_DEFAULT "This must be Thursday.\nI never could get the hang of Thursdays."
END

/* de-DE */

LANGUAGE 0x07, 0x01
#pragma code_page( 1252 )

STRINGTABLE
BEGIN
  IDS_SCRIPT_CLOCK_CONHELP "Zeigt die aktuelle Uhrzeit an."
  IDS_SCRIPT_CLOCK_SYSTIME "Systemzeit: %1!S!\n"
  IDS_SCRIPT_CLOCK_GAMEMSG "Inselzeit: %4!02i!:%5!02i! (Tag %7!i!)"
  IDS_SCRIPT_CLOCK_MESSAGE "%2!s!"
  IDS_SCRIPT_CLOCK_LOGTYPE "0"
  IDS_SCRIPT_CLOCK_LOGSIZE "false"
  IDS_SCRIPT_CLOCK_LOGXEFF ""
  IDS_SCRIPT_CLOCK_CAPTION "Ticketacke"
  IDS_SCRIPT_CLOCK_DEFAULT "Heute muss Donnerstag sein.\nMit Donnerstagen kam ich noch nie zu Rande."
END

